@model KariyerNET.Model.EmployeeSide.Login
@{
    ViewBag.Title = "Şifremi Unuttum";
}

<div class="container">
    <div class="offset-3 col-6 p-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group w-100 mt-2">
                <span class="text-dark">E-Posta Adresiniz: </span>
                @Html.ValidationSummary(true, "Geçerli bir e-posta adresi giriniz...", new { @class = "text-danger" })
                @Html.TextBoxFor(a => a.LoginMail, new { @class = "form-control col-md-12 mt-2", type = "mail" })
            </div>
            <div class="form-group w-100">
                <button type="submit" class="btn btn-success w-100 mt-2">Şifremi gönder</button>
            </div>
        }

        @{
            if (ViewBag.Error != null)
            {
                <div class="alert-danger">
                    @ViewBag.Error
                </div>
            }
        }
    </div>

</div>
