
@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="form-group w-100 align">
    <div class="dropdown ">
        <h5>İş Fırsatlarını Yakala!</h5><br />
        <form class="form-inline my-2 my-lg-0 w-100">
            <input class="form-control mr-sm-2 w-25" type="search" placeholder="İş ilanı ara..." aria-label="Search">
            &nbsp; &nbsp; &nbsp;

            @*<button class="btn btn-outline-success dropdown-toggle w-25 h-25" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Şehir Seçiniz
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">İstanbul</a>
                    <a class="dropdown-item" href="#">Ankara</a>
                    <a class="dropdown-item" href="#">İzmir</a>
                </div>*@

            <div class="form-group w-25">
                <select class="w-100 form-control btn-outline-success ml-4" id="cv">
                    <option selected>Şehir Seçiniz</option>
                    <option>İstanbul</option>
                    <option>Ankara</option>
                    <option>İzmir</option>
                </select>
            </div>

            &nbsp; &nbsp; &nbsp;

            @*<button class="btn btn-outline-success dropdown-toggle w-25 h-25" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    İlçe Seçiniz
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">İstanbul</a>
                    <a class="dropdown-item" href="#">Ankara</a>
                    <a class="dropdown-item" href="#">İzmir</a>
                </div>*@

            <div class="form-group w-25">
                <select class="w-100 form-control btn-outline-success ml-4" id="cv">
                    <option selected>İlçe Seçiniz</option>
                    <option>Zeytinburnu</option>
                    <option>Bağcılar</option>
                    <option>Gaziosmanpaşa</option>
                </select>
            </div>

            &nbsp; &nbsp; &nbsp;

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
        </form>
    </div>

</div>
<br />
<div id="carousel">
    <h5>Öne Çıkan İlanlar!</h5>
    <div id="carouselExampleInterval" class="carousel slide bg-dark " data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="20000">
                <img src="~/Content/image/ilan2.png" class="d-block w-100" width="450" height="350" alt="İlan1">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="~/Content/image/ilan4.png" class="d-block w-100" width="450" height="350" alt="İlan2">
            </div>
            <div class="carousel-item">
                <img src="~/Content/image/ilan3.png" class="d-block w-100" width="450" height="350" alt="İlan3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Önceki</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Sonraki</span>
        </a>
    </div>
</div>