
@{
    ViewBag.Title = "Başvuruyu Tamamla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container w-50 h-auto mb-5">
    <div class="form-group text-center" style="background-color:#e3f2fd;">
        <br />
        <div class="form-group  text-center" id="applyGraphic">


            <img src="~/Content/image/gra.jpg" width="100" height="100" />
        </div>

        <div class="form-group text-center ">
            <span class="text-dark text-center text-dark-18"> Yetenekler ile ilan uyumunuz %75 </span>
        </div>



        <div class="form-group w-75 offset-3">
            <select class="w-50 form-control btn-outline-secondary ml-4" id="cv">
                <option selected>Özgeçmiş Seçiniz</option>
                <option>CV1</option>
                <option>CV2</option>
                <option>CV3</option>
            </select>
        </div>

        @*<div class="form-group text-center "> // kullanamadık bunu değiştiridim ben de
            <button class="btn btn-outline-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Özgeçmiş Seçiniz
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">CV1</a>
                <a class="dropdown-item" href="#">CV2</a>
                <a class="dropdown-item" href="#">CV3</a>
            </div>
        </div>*@
        <br />
    </div>
    <div class="form group text-center mt-2 " id="applyButton">
        @Html.ActionLink("Başvuruyu Tamamla", "AfterApply", "JobAdvert", new { @class = "btn btn-danger w-50" })
    </div>
</div>
