
@{
    ViewBag.Title = "İlana Başvur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-group w-50 text-center" id="jobTitle">
        <span class="text-dark"  style="font-weight:bold; background-color: #e3f2fd; width:150px !important;">SOFTWARE ENGIINER</span>
    </div><br />
          <div class="form-group w-50 text-center alert-light" id="advertPhoto">
             
              <img src="~/Content/image/ilan3.png" width="500" height="200" />
          </div><br />

                <div class="form-group w-50  alert-light" id="jobDescription">
                    <span class="text-dark"> İlan Açıklaması</span>
                    <hr />
                    <span class="text-justify" style="text-align: justify;">
                        Hostamedia olarak, 1996 yılından beri tecrübemiz, uzmanlığımız ve farklı sektörlerden edindiğimiz bilgi birikimimiz ile Türkiye’nin lider şirketlerine dijital pazarlama çözümleri sunuyoruz. Hizmet verdiğimiz markalara değer katmayı kendine ilke edinen Hostamedia ekibi olarak, strateji, tasarım ve teknoloji'yi biraraya getirerek yurtiçinde ve yurtdışında çeşitli projeler yürütüyoruz.
                    </span>
                    <br /><br />
                    <span class="text-justify" style="text-align: justify;">
                        Her geçen gün büyüyen dijital dünyada, 20+ yıldır hizmet verdiğimiz anlayış ve profesyonel bakış açımızla biz de büyümeye devam ediyoruz ve ekibimizi genişletiyoruz. Bu vizyonla büyük markalara hizmet verebilecek, yaratıcı, dinamik, sektördeki yenilikleri takip edebilen, yeni teknolojilere yatkın, full-time çalışabilecek, aşağıdaki niteliklere sahip ekip arkadaşları arıyoruz.
                    </span>
                    <br /><br />
                    <span class="text-justify" style="text-align: justify;">
                        - İyi seviyede ingilizce bilen<br /><br />
                        - Çok iyi derecede ASP.NET Web Forms, C#, .NET Framework<br /><br />
                        - SQL Server bilgisine sahip<br /><br />
                        - OOP, ORM (tercihen LLBLGen) konularında teorik ve pratik bilgi sahibi<br /><br />
                        - HTML, Javascript, XML, JQuery, CSS gibi web teknolojilerini iyi derecede bilen<br /><br />
                        - Tek başına bir projenin sorumluluğunu alabilecek<br /><br />
                        - Katmanlı yazılım mimarisi üzerinde bakım, geliştirme ve tasarım yapabilecek seviyede OOP bilgisine sahip<br /><br />
                        - Tercihen bir Source Control yazılımı (SVN, TFS, GIT) üzerinde tek kişi ya da ekip olarak proje geliştirmiş. Eğer bilmiyorsa bu konuları öğrenebilecek, öğretebilecek<br /><br />
                        - Yazılım geliştirme literatüründen en az 2-3 kitabı okuduğuna ve anladığına bizi ikna edebilecek. Ya da okuyacağına söz verebilecek<br /><br />
                        - Tercihen çevik yazılım geliştirme metodolojileri ile ilgili bilgi sahibi
                    </span>
                </div>

    <div class="form-group w-50 alert-light" id="jobDetails">
        <span class="text-dark "> Pozisyon Bilgileri</span><hr />
        <table>
            <tr>
                <td class="w-25">Tecrübe</td>
                <td>:</td>
                <td>En az 3 yıl </td>
            </tr>
            <tr>
                <td class="w-25">Eğitim Seviyesi</td>
                <td>:</td>
                <td>
                    Lise(Mezun), Ön Lisans(Öğrenci), Ön Lisans(Mezun), Üniversite(Öğrenci), Üniversite(Mezun), Yüksek Lisans(Öğrenci), Yüksek Lisans(Mezun)
                </td>
            </tr>
            <tr>
                <td class="w-25">Pozisyon seviyesi</td>
                <td>:</td>
                <td>Uzman</td>
            </tr>
            <tr>
                <td class="w-25">Çalışma Şekli</td>
                <td>:</td>
                <td>Tam Zamanlı</td>
            </tr>
            <tr>
                <td class="w-25">Alınacak Personel Sayısı</td>
                <td>:</td>
                <td>2</td>
            </tr>
            <tr>
                <td class="w-25">Şehir</td>
                <td>:</td>
                <td>İstanbul Avrupa</td>
            </tr>
            <tr>
            <td><hr /></td>
            <td><hr /></td>
            <td><hr /></td>
            </tr>
            <tr>
                <td class="w-25">İlan Yayınlanma Tarihi</td>
                <td>:</td>
                <td>02/01/2020 </td>
            </tr>
            <tr>
                <td class="w-25">İlan Bitiş Tarihi</td>
                <td>:</td>
                <td>17/01/2020</td>
            </tr>
        </table>

    </div><br />

          <div class="form-group w-50 alert-light" id="applyButton">
              @Html.ActionLink("Başvurmak İçin Giriş Yap", "BeforeApply", "JobAdvert", new { @class = "btn btn-danger w-100 mt-3" })
              @*<div id="hasUser" class="form-group w-10 alert-light" style="margin-left:70%;">
                  <button type="submit" class="btn btn-warning w-auto ml-1 mt-3 visible">Kaydet</button>
                  <button type="submit" class="btn btn-success w-auto ml-1 mt-3 visible">Başvur</button>
              </div>*@
          </div><br />

</div>

