<div class="col-md-4 float-right">
    <div class="border m-4 p-2">
        <h4 class="text-center">Firma Bilgileri</h4>
        <hr />
        <img src="https://via.placeholder.com/150" alt="Firma Logosu" class="w-75 ml-4"/>
        <table style="font-size:14px" class="m-4 w-75">
            <tr>
                <td>Firma Sektörü</td>
                <td>:</td>
                <td>Bilişim ve danışmanlık</td> @*dbden gelicek*@
            </tr>
            <tr>
                <td>Çalışma Saatleri</td>
                <td>:</td>
                <td>08:00 - 18:00</td>
            </tr>
            <tr>
                <td>Yan Haklar</td>
                <td>:</td>
                <td>Yol ve Yemek Yardımı</td>
            </tr>
        </table>
            @Html.ActionLink("Firmanın diğer ilanları", "", "",new { @class = "page-link" })        
    </div>

    <div class="border m-4 p-2">
        <h4 class="text-center">İlgili İlanlar</h4>
        <hr />
        <table class="mt-2" cellpadding="5">
            <tr class="w-75"><th>İş analisti</th></tr>
            <tr>
                <td class="w-50 mt-3">
                    <img src="https://via.placeholder.com/150" alt="" />
                </td>
                <td class="w-25">
                    Doğuş Teknoloji<br />İstanbul (Asya)
                </td>
            </tr>
        </table>
        <hr />
        <table class="mt-2" cellpadding="5">
            <tr class="w-75"><th>C# Developer</th></tr>
            <tr>
                <td class="w-50 mt-3">
                    <img src="https://via.placeholder.com/150" alt="" />
                </td>
                <td class="w-25">
                    Bilge Adam<br />İstanbul (Avrupa)
                </td>
            </tr>
        </table>
        <hr />
        <table class="mt-2" cellpadding="5">
            <tr class="w-75"><th>Full Stack Developer</th></tr>
            <tr>
                <td class="w-50 mt-3">
                    <img src="https://via.placeholder.com/150" alt="" />
                </td>
                <td class="w-25">
                    Aşko Yazılım<br />Tekirdağ
                </td>
            </tr>
        </table>
    </div>
</div>